<aside id="sidebar" class="col-md-4">
  <div class="border">
    <h3>
      Partenaires
      <a href="https://unclear-community.fr/partners"><i class="fas fa-plus "></i></a>
    </h3>
    <div class="widget widget-partners">
      <ul class="list-unstyled">
        <li>
          <a href="https://unclear-community.fr/partners/url/1" title="Ikoula" target="_blank">
            <img class="filter" src="https://unclear-community.fr/uploads/partners/1_image.png" alt="Ikoula">
          </a>
        </li>
      </ul>
    </div>
    <br>
    <h3>
      Derniers Matches
      <a href="https://unclear-community.fr/matches" title="Lire plus..."><i class="fas fa-plus "></i></a>
    </h3>
    <div class="widget widget-matches-latest">
      <ul class="list-unstyled">
      </ul>
    </div>
    <br>
    <h3>
      Streams
      <a href="https://unclear-community.fr/streams" title="Lire plus..."><i class="fas fa-plus "></i></a>
    </h3>
    <div class="widget widget-streams">
      <ul class="list-unstyled">
        <li class="offline clearfix">
          <a href="https://unclear-community.fr/streams/1/unclear-community" title="Unclear Community">
            <div class="image" style="background-image: url('https://static-cdn.jtvnw.net/previews-ttv/live_user_unclearcommunity-320x180.jpg')"></div>
            <span class="title">Unclear Community</span>
            <span class="viewers"><i class="fas fa-eye "></i> 0</span>
          </a>
        </li>
        <li class="offline clearfix">
          <a href="https://unclear-community.fr/streams/2/chemaxou-1" title="Chemaxou">
            <div class="image" style="background-image: url('https://static-cdn.jtvnw.net/previews-ttv/live_user_chemaxou-320x180.jpg')"></div>
            <span class="title">Chemaxou</span>
            <span class="viewers"><i class="fas fa-eye "></i> 0</span>
          </a>
        </li>
        <li class="offline clearfix">
          <a href="https://unclear-community.fr/streams/3/animo" title="Animo">
            <div class="image" style="background-image: url('https://static-cdn.jtvnw.net/previews-ttv/live_user_animoksh-320x180.jpg')"></div>
            <span class="title">Animo</span>
            <span class="viewers"><i class="fas fa-eye "></i> 0</span>
          </a>
        </li>
        <li class="offline clearfix">
          <a href="https://unclear-community.fr/streams/4/bliwerr" title="Bliwerr">
            <div class="image" style="background-image: url('https://static-cdn.jtvnw.net/previews-ttv/live_user_bliwerr-320x180.jpg')"></div>
            <span class="title">Bliwerr</span>
            <span class="viewers"><i class="fas fa-eye "></i> 0</span>
          </a>
        </li>
        <li class="offline clearfix">
          <a href="https://unclear-community.fr/streams/6/acetektv" title="acetektv">
            <div class="image" style="background-image: url('https://static-cdn.jtvnw.net/previews-ttv/live_user_acetektv-320x180.jpg')"></div>
            <span class="title">acetektv</span>
            <span class="viewers"><i class="fas fa-eye "></i> 0</span>
          </a>
        </li>
      </ul>
    </div>
    <br>
    <h3>
      Tournois
      <a href="https://unclear-community.fr/cups" title="Lire plus..."><i class="fas fa-plus "></i></a>
    </h3>

    <br>
    <h3>
      Cup Control
      <a href="https://unclear-community.fr/cups" title="Lire plus..."><i class="fas fa-plus "></i></a>
    </h3>
    <div class="widget widget-cup-control">
      Vous êtes inscrit dans aucun tournoi. <a href="https://unclear-community.fr/cups">Rejoindre le tournoi!</a>

    </div>
    <br>
    <div class="text-center">
    </div>
  </div>
</aside>
