
  <!-- Render JavaScript alerts here -->
  <div class="alert-area"></div>

  <section class="page page-teams page-teams-index">
  <h1 class="page-title">Teams</h1>


  <div *ngFor="let team of this.teams">
    <app-team [team]="team"></app-team>
  </div>
  
  <article class="team">
    <header>
      <a href="/teams/7/staff-2">
        <h2>STAFF</h2>

        <div class="image">
          <img class="img-responsive" src="https://unclear-community.fr/uploads/teams/7_image.jpg" alt="STAFF">
        </div>
      </a>
    </header>

    <div class="content">
      <ul class="list-inline">
        <li>Lineup:</li>
        <li>
          <a href="/users/3/chemaxou">Chemaxou</a>
        </li>
        <li>
          <a href="/users/4/animo">Animo</a>
        </li>
        <li>
          <a href="/users/13/futoxx">Futoxx</a>
        </li>
        <li>
          <a href="/users/14/zadiite">zadiite</a>
        </li>
        <li>
          <a href="/users/24/kyra">kyra</a>
        </li>
        <li>
          Country:
          <img src="https://unclear-community.fr/uploads/countries/fr.png" alt="France" style="vertical-align: baseline">
        </li>
      </ul>
    </div>
  </article>
  <article class="team">
    <header>
      <a href="https://unclear-community.fr/teams/8/fortnite-2">
        <h2>Fortnite</h2>

        <div class="image">
          <img class="img-responsive" src="https://unclear-community.fr/uploads/teams/8_image.jpg" alt="Fortnite">
        </div>
      </a>
    </header>

    <div class="content">
      <ul class="list-inline">
        <li>Lineup:</li>
        <li>
          <a href="https://unclear-community.fr/users/5/acetek">AceTek</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/7/bliwer">Bliwer</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/8/guioki">Guioki</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/10/guillaumerd">GuillaumeRD</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/12/poctyce">Poctyce</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/23/skaie">Skaïe</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/25/atoeme">Atöme</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/26/nebi">Nebi</a>
        </li>
        <li>
          Country:
          <img src="https://unclear-community.fr/uploads/countries/fr.png" alt="France" style="vertical-align: baseline">
        </li>
      </ul>
    </div>
  </article>
  <article class="team">
    <header>
      <a href="https://unclear-community.fr/teams/10/rainbow-six-siege">
        <h2>Rainbow Six Siège</h2>

        <div class="image">
          <img class="img-responsive" src="https://unclear-community.fr/uploads/teams/10_image.jpg" alt="Rainbow Six Siège">
        </div>
      </a>
    </header>

    <div class="content">
      <ul class="list-inline">
        <li>
          Country:
          <img src="https://unclear-community.fr/uploads/countries/fr.png" alt="France" style="vertical-align: baseline">
        </li>
      </ul>
    </div>
  </article>
  <article class="team">
    <header>
      <a href="https://unclear-community.fr/teams/9/rocket-league-1">
        <h2>Rocket League</h2>

        <div class="image">
          <img class="img-responsive" src="https://unclear-community.fr/uploads/teams/9_image.jpg" alt="Rocket League">
        </div>
      </a>
    </header>

    <div class="content">
      <ul class="list-inline">
        <li>Lineup:</li>
        <li>
          <a href="https://unclear-community.fr/users/6/kgtrey1">kgtrey1</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/15/aeron">Aeron</a>
        </li>
        <li>
          <a href="https://unclear-community.fr/users/16/shonen">Shonen</a>
        </li>
        <li>
          Country:
          <img src="https://unclear-community.fr/uploads/countries/fr.png" alt="France" style="vertical-align: baseline">
        </li>
      </ul>
    </div>
  </article>

</section>
